body {
    background-color: #EAF6F6;
}
hr {
    background-color: #EAF6F6;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 10%;
}
h1 {
    color: #5F8D4E;
}
h2 {
    color: #A4BE7B;
}